### Урок 5.2: индексы и метод `.iloc`

In [1]:
import pandas as pd
df = pd.DataFrame([['Anna', 23, 3],
             ['Sam', 36, 12],
             ['Bill', 33, 10],
             ['Moica', 25, 7],
             ['Lisa', 27, 7],
             ['Peter', 32, None]])

Чтобы наш датафрейм был больше похож на настоящие данные из файла, давайте назовём столбцы в таблице. Для этого нам необходимо изменить атрибут `.columns`, присвоить ему значение в виде списка.

In [2]:
df.columns = ['name', 'age', 'expr']

In [3]:
df

    name  age  expr
0   Anna   23   3.0
1    Sam   36  12.0
2   Bill   33  10.0
3  Moica   25   7.0
4   Lisa   27   7.0
5  Peter   32   NaN

Для выбора строк и столбцов в `Pandas` есть два основных метода: `.iloc` и `.loc`. Первый используется для выбора строк и столбцов по их индексу, второй – по их названию. Внутри каждого из этих методов в квадратных скобках указывается сначала идентификатор (индекс или название) строки, а затем – идентификатор столбца. Попробуем выбрать элемент, который находится в строке с индексом 1 и в столбце с индексом 2:

In [4]:
df.iloc[1, 2]

12.0

В качестве индексов можно указывать числовые срезы (как обычно, правый конец отрезка не включается):

In [11]:
df.iloc[1:3, 1]

1    36
2    33
Name: age, dtype: int64

И полные срезы тоже:

In [12]:
df.iloc[:, 0]

0     Anna
1      Sam
2     Bill
3    Moica
4     Lisa
5    Peter
Name: name, dtype: object

In [13]:
df.iloc[1:3, :]

   name  age  expr
1   Sam   36  12.0
2  Bill   33  10.0

Можно попробовать ввести индекс без `.loc` и посмотреть, что получится:

In [9]:
df[0]

KeyError: 0

Ничего не получится: Python думает, что в квадратных скобках указано название столбца и возвращает `KeyError`, что означает, что столбца с таким названием в таблице нет. Самое интересное: если мы укажем в квадратных скобках числовой срез, всё сработает! Только Python будет воспринимать эти числа как индексы строк (да `pandas` коварна, к ней нужно привыкнуть):

In [10]:
df[0:2]

   name  age  expr
0  Anna   23   3.0
1   Sam   36  12.0