### Урок 5.3: индексы и метод `.loc`

In [3]:
import pandas as pd
df = pd.DataFrame([['Anna', 23, 3],
             ['Sam', 36, 12],
             ['Bill', 33, 10],
             ['Moica', 25, 7],
             ['Lisa', 27, 7],
             ['Peter', 32, None]])
df.columns = ['name', 'age', 'expr']

Теперь посмотрим, как выбирать столбцы и строки по названию. Выберем столбец `name`, вписав его название в квадратных скобках:

In [4]:
df['name']

0     Anna
1      Sam
2     Bill
3    Moica
4     Lisa
5    Peter
Name: name, dtype: object

Если нужно выбрать более одного столбца сразу, то названия столбцов нужно оформить в список и поместить его в квадратные скобки:

In [5]:
df[['name', 'expr']]

    name  expr
0   Anna   3.0
1    Sam  12.0
2   Bill  10.0
3  Moica   7.0
4   Lisa   7.0
5  Peter   NaN

Хорошая новость: помимо числовых срезов в `Pandas` можно использовать текстовые срезы, то есть, сейчас я могу, например, выбрать все столбцы с `name` до `age` подряд. Только тогда этот срез нужно будет указать в методе `.loc`:

In [6]:
df.loc[:, 'name':'age']

    name  age
0   Anna   23
1    Sam   36
2   Bill   33
3  Moica   25
4   Lisa   27
5  Peter   32

Обратите внимание: текстовый срез включает оба конца отрезка, правый конец не исключается.

Метод `.loc` будет работать так же, как и `.iloc`, только здесь в качестве идентификаторов будут использоваться названия. Для удобства назовём строки по столбцу `name`, чтобы к ним можно было обращаться по названию:

In [7]:
df.index = df.name
df

        name  age  expr
name
Anna    Anna   23   3.0
Sam      Sam   36  12.0
Bill    Bill   33  10.0
Moica  Moica   25   7.0
Lisa    Lisa   27   7.0
Peter  Peter   32   NaN

Теперь у строк есть текстовые названия. Выберем значение, соответствующее возрасту Билла:

In [10]:
df.loc['Bill', 'age']

33

А теперь опыт работы для нескольких человек (строк) подряд:

In [11]:
df.loc['Sam':'Lisa', 'expr']

name
Sam      12.0
Bill     10.0
Moica     7.0
Lisa      7.0
Name: expr, dtype: float64

А теперь два столбца одновременно (представим, что они идут не подряд, более общий способ):

In [12]:
df.loc['Sam':'Lisa', ['age', 'expr']]

       age  expr
name
Sam     36  12.0
Bill    33  10.0
Moica   25   7.0
Lisa    27   7.0